html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.main_logo , section{
    background: url('../img/bg.png');
}
.hide_arrow{
    visibility: hidden;
  
    }
    html,body{
        scroll-behavior: smooth;
    }
@font-face {
    font-family: "Amsdamsyr"; 
    src: url("../fonts/amsdamcyr_lat.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
    .content_wrapper{
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    @font-face {
        font-family: "Circle"; 
        src: url("../fonts/Circe-Light.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
        } 
        .content_wrapper{
            height: 100%;
            display: flex;
            justify-content: space-between;
        }
h2{
    background-color: rgb(233, 212, 195);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    color: #583626;
    font-size: 4rem;
    position: relative;
    font-family: Amsdamsyr;
    line-height: 8rem;
    height: 100%;
  
}
.name{
    background-color: rgb(233, 212, 195);
    padding: 200px 0 200px 0;
    position: relative;
    box-sizing: content-box;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.name img{
    width: 100px;
}
.main_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 2% 10% 0;
    flex-direction: column;
}
.arrow{
    width: 50px;
    height: 50px;
    border-left: 5px solid #583626;
    border-bottom:5px solid #583626;
    position: relative;
    transform: rotate(-45deg);
    animation: 1s alternate-reverse 1s infinite running arrow;
}
@keyframes arrow {
    0%{opacity: 0;}
    50%{opacity: 50%;}
    100%{opacity: 100%;}
}
a.dan_prod{
    display: none;
    position: fixed;
    z-index: 0;
    left: 50%;
    bottom: 50%;

}
.arrow::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-left: 4px solid #583626;
    border-bottom:4px solid #583626;
    left: 5px;
    bottom: 5px;
}
.arrow::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid #583626;
    border-bottom:3px solid #583626;
    left: 15px;
    bottom: 15px;
}
.main_logo img{
    width: 45%;
    padding-top: 50px;
}
section{
    display: flex;
    border-top: 5px solid  rgb(233, 212, 195);
}
/*section1 */
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10% 5% 5%;
    width: 100%;
}
.productCard{
    background: rgb(236, 154, 36);
    padding:10px;
    width: 25%;
    margin-right: 20%;
    position: relative;
}
h3{
    color: white;
    font-size: 2rem;
    position: relative;
    font-family: Amsdamsyr;
    text-align: center;
    padding: 5%;
}
.productCard h3+div{
    background: white;
    padding: 2% 2% 20% 2%;
    font-family: 'Circle';
    font-size: 1.5rem;
    font-weight: 800;

}
.productCard .imgCard img{
    border-radius: 50%;
    position: absolute;
    right: 0;
   top: 100%;
   transform: translate(50%,-20%);
}
.productCard1{
    margin-bottom: 400px;
}
.productCard1 .imgCard img{
    width: 400px;
    height: 400px;
  
}
.imgCard{
    position: relative;
}
 .productCard .imgCard .outline1{
    position: absolute;
    width: 450px;
    height: 450px;

}
/* section2 */
.productCard2{
    margin-bottom: 300px;
}
.productCard2 .imgCard img{
    width: 300px;
    height: 300px;
  
}
.product2 {
    padding: 200px 5% 100px 10%;
}
.productCard2 .imgCard .outline1{
    position: absolute;
    width: 350px;
    height: 350px;

}
/* section3 */
.items3{
    width: 100%;
    display:flex ;
}
.items3 .productCard{
    margin-right: 10%;
}
.items2{
    width: 100%;
    display:flex ;
    justify-content: center;
}
.items2 .productCard{
    margin-right: 10%;
}
/* section4 */
.product3{
    flex-direction: column;
    align-items: center;
    padding: 10% 5% 0;
}
.product3 .imgCard img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.productCard3{
    margin-right: 0;
    margin-bottom: 170px;
}
.product3 .imgCard .outline2{
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-47%);
}
.imgCard2{
    position: absolute;
   bottom: 50%;
    left: 120%;
    width: 300px;
    height: 300px;
}
.imgGroup{
    display: flex;
    position: relative;
}
.imgCard3{
    position: absolute;
   bottom: 50%;
    right:120%;
    width: 300px;
    height: 300px;
}
.oneitem{
    width: 100%;
    display: flex;
   align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}
/* section5 */
.imgGroup2{
    position: absolute;
}
.imgGroup2 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.imgGroup2 .outline1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-47%);
    width: 350px;
    height: 350px;
}
.imgCard5{
    margin-bottom: 100px;
}
.imgCard6{
    position: absolute;
    top: 20%;
    right: 50%;
}
.cardfull{
    width: 25%;
    margin-right: 20%;
    position: relative;
}
.productCard4{
    width: 100%;
}
.imgGroup2{
    left: 70%;
    top: 100%;
    transform: translateY(-10%);
}
.cardfull{
    margin-bottom:800px;
}
.product4{
    padding: 10% 5% 0;
}
/* contacts */

.ctn{
  padding: 10px 0;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
  opacity: 1;
  background-color: rgb(233, 212, 195);
  width: 100%;
  border-bottom: 1px solid gray;
}
.ctn img{
    width: 90px;
}
.ctn a {

    text-decoration: none;
    font-size: 1.4em;
    color: #583626;
    font-family: Amsdamsyr;
}

.ctn a:visited{
    color: #583626;
}
.ctn>div{
    display: flex;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    justify-content: space-between;
}
footer{
    padding: 2% 20%;
    opacity: 1;
    background-color: rgb(233, 212, 195);
    border-top: 1px solid rgb(170, 168, 168);
    
  
  }
  footer h3{
    color: #583626;
    padding: 2% 0;
  }
  footer ul{
    display: flex;
    justify-content: space-around;
    padding: 0 40%;
  }
  footer ul+ul{
    justify-content: space-between;
    padding: 2% 0;
 
  }
  footer ul+ul>li{
    margin-right: 0;
  }
  footer ul+ul a{
    color: #583626;
    text-decoration: none;
    font-size: 1.4em;
    position: relative;
  }
  a>svg{
    width: 30px;
    height: 30px;
    margin-bottom: -5px;

  }
.sub_contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}


.icons{
    width: 40px;
    height: 40px;
}
.ctn ul{
    display: flex;
    justify-content: space-between;
    flex-basis: 70%;
    padding: 0 150px 0 0;
}
.ctn ul li {
    margin-left: 10px;
}
.ctn ul>li>a{
    position: relative;
}
.ctn ul>li>a::before{
    content: '';
position: absolute;
height: 2px;
width: 0%;
left: 0;
bottom: 0;
background: #583626;
transition: all 0.3s;
}
.ctn ul>li>a:hover::before{
width: 100%;
}
.discounts{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}
.discounts p{
    font-family: "Circle";
    font-weight: 600;
    margin-top: 10px;
    color: #583626;
    margin-right: 50px;
}
h1{
    color: #583626;
    font-size: 2rem;
    position: relative;
    font-family: Amsdamsyr;
    line-height: 2rem;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts a{
    color: #583626;
    font-size: 1rem;
    position: relative;
    font-family: Amsdamsyr;
    line-height: 1rem;
    text-decoration: none;
    font-weight: 600;
    display: block;
}
.contacts ul {
    display: flex;
    
}
h4{
    text-align: center;
    color: #583626;
    font-size: 1rem;
    position: relative;
    font-family: Amsdamsyr;
    line-height: 1rem;
    position: relative;
    box-sizing: content-box;
    white-space: nowrap; 
    font-weight: 600;
  
}

.icon_check{
    width: 20px;
    height:20px ;
    margin-bottom: -3px;
}
.social_contacts{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.products{
 background: url('../img/bg.png');
}
.products h5{
    text-align: center;
    color: #583626;
    font-size: 3rem;
    position: relative;
    font-family: Amsdamsyr;
    padding: 5%;
}
.products ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 50px 0;
}
.products ul>li{
   flex-basis: 33%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-bottom: 50px;
}
.products ul>li a{
    text-decoration: none;
    color: #583626;
    font-size: 1.3rem;
    font-family: Amsdamsyr;
    font-weight: 800;
    display: block;
 }
 .cardprod{
    position: relative;
    padding: 4% 0;
 }
 .cardprod>img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 15px;
 }
 .cardprod .outline1{
    position: absolute;
    left: 50%;
    bottom: -4%;
    transform: translateX(-50%);
    width: 350px;
    height: 350px;
 }
@media (max-width: 1500px)  { 
    .productCard2 .imgCard img {
        width: 200px;
        height: 200px;
    }
    
    .arrow{
     margin-top: 50px;
    }
    .productCard2 .imgCard .outline1 {
        position: absolute;
        width: 230px;
        height: 230px;
    }
    .productCard .imgCard .outline1 {
        position: absolute;
        width: 230px;
        height: 230px;
    }
    .productCard1 .imgCard img {
        width: 200px;
        height: 200px;
    }
    .discounts{
        margin-top: -10px;
    }
 }
 @media (max-width: 1200px){
    .name{
        padding: 0;
        flex-direction: column-reverse;
        padding-top: 10px;
        display: none;
    }
    .productCard1{
        margin-bottom: 200px;
    }
.product {
  flex-direction: column;
  align-items: center;
  
}
.items3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product3 .imgCard img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.product3 .imgCard .outline2 {
    width: 230px;
    height: 230px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-47%);
}
.imgCard1{
    z-index: 15;
}
.imgCard3 {
    position: absolute;
    bottom: 0;
    right: 70%;
    width: 200px;
    height: 200px;
}
.imgCard2 {
    position: absolute;
    bottom: 0;
    left: 70%;
    width: 200px;
    height: 200px;
}
.productCard3 {
    margin-right: 0;
    margin-bottom: 100px;
}
.productCard {
    background: rgb(236, 154, 36);
    padding: 10px;
    margin-right: 0;
    position: relative;
}
h2 {

    writing-mode: horizontal-tb;
    transform: rotate(-360deg);
   

}

section {
    display: flex;
    flex-direction: column;
    border-top: none;
    margin-top: 81px;
}
.productCard .imgCard img {
    border-radius: 50%;
    position: absolute;
    right: 50%;
    top: 110%;
    transform: translate(50%,-20%);
}
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10% 0% 0%;
    width: 100%;
}
.items3 .productCard {
    margin-right: 0%;
}
.product4{
    flex-direction: column;
    align-items: center;
}
.productCard4,.cardfull{
    margin-right: 0;
    margin-bottom: 400px;
}
.items2 .productCard {
    margin-right: 0;
}


.imgGroup2 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.imgGroup2 .outline1 {
    
    width: 230px;
    height: 230px;
}
.imgCard6 {
    position: absolute;
    top: 25%;
    right: 0%;
}


.imgGroup2 {
    left: 50%;
    top: 40%;
    transform: translateY(-10%)translateX(-50%);
}
.cardprod>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.cardprod .outline1 {
    position: absolute;
    left: 50%;
    bottom: -4%;
    transform: translateX(-50%);
    width: 230px;
    height: 230px;
}
 }
 @media (max-width: 720px){
    .main_logo img{
        margin-bottom: 100px;
    }
    .productCard {
        background: rgb(236, 154, 36);
        padding: 10px;
        width: 70%;
        margin-right: 0;
        position: relative;
    } 
    .arrow{
        margin-top: 100px;
       }
    .productCard3 {
        margin-right: 0;
        margin-bottom: -20px;
    }
    .oneitem {
    
        margin-bottom: 250px;
    }
    .product3 .imgCard img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .product3 .imgCard .outline2 {
        width: 180px;
        height: 180px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-47%);
    }
    .imgCard1{
        z-index: 15;
    }
    .imgCard3 {
        position: absolute;
        bottom: -90%;
        right: 30%;
        width: 150px;
        height: 150px;
    }
    .imgCard2 {
        position: absolute;
        bottom: -90%;
        left: 30%;
        width: 150px;
        height: 150px;
    }
    h2{
       
        font-size: 2rem;
     
        line-height: 2rem;
        white-space: normal;
}

.items2 .productCard {
margin-right: 0;
}
.cardfull {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.ctn{
    padding: 10px;
      z-index: 100;
      position: fixed;
      left: 0;
      top: 0;
    background-color: rgb(233, 212, 195);
    width: 100%;
    transition: all 0.5s linear;
  }
  .sub_contacts{
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
 
.ctn ul{
    display: flex;
}
.ctn ul li {
    margin-left: 10px;
}
h1{
    color: #583626;
    font-size: 1rem;
    position: relative;
    font-family: Amsdamsyr;
    line-height: 1rem;
}
h4{
  
    font-size: 0.6rem;
    line-height: 0.6rem;
}
.contacts a{
    font-size: 0.7rem;
    line-height: 0.7rem;
    margin-bottom: 7px;
}

.discounts{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    flex-wrap: wrap;
}
.discounts p{
    font-family: "Circle";
    font-weight: 600;
    margin-top: 10px;
    color: #583626;
    margin-right: 0;
    text-align: center;
    font-size: 0.7rem;
   
}
.cardprod>img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.cardprod .outline1 {
    position: absolute;
    left: 50%;
    bottom: -4%;
    transform: translateX(-50%);
    width: 170px;
    height: 170px;
}
.products ul>li {
    flex-basis: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
footer ul+ul{
    flex-direction: column;
    align-items: center;
}
footer ul+ul a {
    font-size: 1em;

}
footer {
    padding: 2% 10%;
   
}
footer h3 {
    color: #583626;
    padding: 5% 0;
}
.ctn>div {
    display: flex;
    align-items: center;
 padding: 0 0;
    width: 100%;
    justify-content: space-between;
}
.ctn img {
    width: 60px;
}
.ctn a {
    text-decoration: none;
    font-size: 1em;
    color: #583626;

 }
 .main_logo img {
    width: 300px;
    padding-top: 50px;
    margin-top: 50px;
}

.arrow {
margin-top: -50px;
}
.ctn ul {
    display: flex;
    justify-content: space-between;
    flex-basis: 70%;
    padding: 0 50px 0 0;
}
.icons{
    display: block;}
    .products h5{
        padding: 15%;
    }
    footer ul {
        display: flex;
        justify-content: space-around;
        padding: 0 30%;
    }
    .icons {
        width: 30px;
        height: 30px;
    }
  
 }

